* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    -webkit-backface-visibility: hidden;
}

html {
    height: auto;
    width: 100%;
    color: #0e0e0e;
}

body {
    height: auto !important;
    width: 100%;
/*    font-family: "proxima-nova", sans-serif;*/
    font-size: 12px;
    font-weight: 300;
    background-color: #fff;
    font-family: 'Dosis', sans-serif !important;
}

.wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading a {
	opacity: 0;
}

.wf-active p, .wf-active h1, .wf-active h2, .wf-active a {
	opacity: 1;
}

.mobileOnly {
    display: none !important;
}

.white_ {
    color: #fff !important;
}

.black_ {
    color: #0e0e0e !important;
}


a, a:link, a:visited {
    outline: 0;
    border: 0;
    text-decoration: none;
    color: inherit;
}

a.bigLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

    a.bigLink img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    a img {
        border: 0;
        display: block;
    }

    .addb4 {  }

    .addb4:before {
        content: '';
        width: 0px;
        height: 100%;
        margin-right: -4px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
    }

    .v_middle {
        margin-right: -4px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
    }

    .v_bottom {
        margin-right: -4px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: bottom;
    }

    .v_top {
        margin-right: -4px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }


/* ===\\================//=== *
 * ====\\=== LOGO ===//==== *
 * =====\\============//===== */


/* ===\\================//=== *
 * ====\\=== HEADER1 ===//==== *
 * =====\\============//===== */
.logoTitle {
        font-size: 2rem !important;
        font-weight: 500;
        position: relative;
        text-align: center;
        line-height: 1.2;   
        margin: 20px 0px !important;
        width: 430px;
  }

  .logoTitle.white_ {
    color: #fff;
    border: #fff solid 3px;
    font-size: 3rem !important;
    font-weight: 400;
    width: 530px !important;
    margin: 20px 0px 10px 0px !important;
  }

  .logoTitle.black_ {
    color: #0e0e0e;
    border: #0e0e0e solid 2px;
  }

.homeHeader {
        z-index: 999;
        height: auto;
        min-height: calc(100vh - 180px);
    }

    .homeHeader #header {
        height: 60px;
    }

        #header .tabs-title {


        }

        #header .tabs-title a {
            font-size: 1.1rem;
            line-height: 1.2;
            letter-spacing: -.05rem;
            font-weight: 500;
        }

        #header .tabs-title a {
            padding: 10px 25px;
            font-size: 1.2rem;
                line-height: 1.2;
            letter-spacing: -.1rem;
            font-weight: 500;
        }

    .homeHeader .tabs-content {
        position: relative;
/*        height: calc (100vh - 150px);*/
        min-height: 600px;
    }

          /*ABOUT*/
        .homeHeader .tabs-content #about{
            width: 100%;
            height: calc(100vh - 150px);
            min-height: 600px;
            text-align: center;
        }

        #about .container {
            width: 80%;
            max-width: 800px;
            height: 100% !important;
            margin-top: 100px;
        }

        #about .top {
            height: auto;
        }

        #about .ab_ {
            height: 40%;
        }

        #about .ab_>* {}

        #about .spc_ {
            height: 50px;
}
        #about .why_ {
            height: auto;
            padding: 20px;
        }
        
        #about h2, #how h2 {
        /*  margin: 0px 0px 40px 0px;*/
          padding 10px;
          line-height: 160%;
          font-size: 1.625em;
          font-weight: 700;
          text-transform: uppercase;

        }

        #about .ttl {
            text-decoration: underline;
            text-transform: uppercase;
}

        /*HOW IT WORKS*/
        .homeHeader .tabs-content #how{
            width: 100%;
            height: calc(100vh - 150px);
            min-height: 600px;
            text-align: center;
        }

        #how .container {
            width: 90%;
        }

    #how h2 {
        margin-bottom: 50px;
    }

        #how .bottom {
            height: 500px;
        }

        /*GALLERY*/
        .homeHeader .tabs-content #gallery{
            min-height: calc(100vh - 180px) !important;
            height: auto;
            width: 100%;
        }
        
        #gallery .container {
            width: 90%;
            height: auto;
            text-align: center;
        }

        #gallery .container .grid {
            height: auto !important;
            min-height: 1000px;
        }

        /*INFO*/
        .homeHeader .tabs-content #info {
            height: calc(100vh - 150px);
            min-height: 600px;
            text-align: center;
}


/* ===\\================//=== *
 * ====\\=== HEADER2 ===//==== *
 * =====\\============//===== */
.version2, .toolbar {
    display: none !important;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 91px;
  z-index: 100;
  background-color: rgba(255,255,255,.98);
  text-align: center;
    
}

#page2.homeGrid {
    height: auto;
    min-height: 100vh;
    position: relative;
    
}


.homeGrid header, .homeGrid .homeHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  /*background-color: #f3f3f3;*/
}

.homeGrid header.ON, .homeGrid #header.ON {
	position: fixed;
	opacity: 1;
}

/*
  header:before {
    content: '';
    width: 0px;
    height: 100%;
    display: inline-block; *display: inline; zoom: 1;
    margin-right: -4px;
    vertical-align: middle;
  }
 */
  




  header .trigger,  #header .trigger {
    display: none;
  }

  header .menu, #header .menu {
    display: inline-block; *display: inline; zoom: 1;
    vertical-align: middle;
	margin-left: 0px;
  }

    header .menu ul, #header .menu ul {
      text-align: center;
      list-style-type: none;
    }

      header nav ul li, #header nav ul li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        margin: 0px 13px;
      }

        header nav ul li a, #header nav ul li a {
          display: block;
          color: #000;
          line-height: 1em;
          letter-spacing: .06em;
          position: relative;
          font-weight: 600;
          font-size: 14px;
        }

        header nav ul li a:after, #header nav ul li a:after {
          content: '\2022';
          color: #b8b7b7;
          opacity: 0;
          position: absolute;
          bottom: -15px;
          left: 50%;
          font-size: 24px;
          margin-left: -3px;
        }

        header nav ul li.desktopOnly a:after, #header nav ul li.desktopOnly a:after {
          display: none !important;
        }


        .no-touch header nav ul li a:hover, header nav ul li a.pageOn .no-touch #header nav ul li a:hover, #header nav ul li a.pageOn {
          color: #b8b7b7;
        }

        .no-touch header nav ul li a:hover:after, header nav ul li a.pageOn:after, .no-touch #header nav ul li a:hover:after, #header nav ul li a.pageOn:after {
          opacity: 1;
        }
		
		header .logoHolder, #header .logoHolder {
			margin: 27px auto;
		}

          header .logo, #header .logo {
			display: inline-block;
			*display: inline;
			zoom: 1;
            width: 287px;
            height: auto;
            margin: auto;
          }

  header .social, #header .social {
    position: absolute;
    top: 0px;
    right: 2%;
    height: 100%;
  }

  body.scroll header .social {
    display: none;
  }

    header .social li, #header .social li {
      margin-right: 0px;
      margin-left: 5px;
    }

      header .social li a, #header .social li a {}

        header .social li a img, #header .social li a img {
          display: block;
          width: 19px;
          height: auto;
          opacity: 1;
        }

        .no-touch header .social li a:hover img, .no-touch #header .social li a:hover img {
          opacity: .2;
        }
    

    

/* ===\\================================//=== *
 * ====\\=== MAIN CONTENT CONTAINER ===//==== *
 * =====\\============================//===== */

    main {
        position: relative;
        min-height: 100vh;
        height: auto;
/*        margin-bottom: -180px;*/
    }

        main:after {
            content: '';
            display: block;
/*            height: 180px;*/
        }




/* ===\\====================//=== *
 * ====\\=== NAVIGATION ===//==== *
 * =====\\================//===== */



 /* ===\\===========================//=== *
  * ====\\=== LANDING/HOME PAGE ===//==== *
  * =====\\=======================//===== */

body.home {}

  .home .homeLoad {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
/*    height: 100%;*/
/*    background-color: rgba(255,255,255,1);*/
    opacity: 1;
  }

  .home.done .homeLoad {
    z-index: -1;
    opacity: 0;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }

  .home main {
/*      background-color:cadetblue;*/
}

    .home main .intro {
      height: 819px;
      min-height: 100vh;
      text-align: center;
      position: relative;
    }

      .home .intro .logo {
        width: 430px;
        height: auto;
		cursor: pointer;
      }

      .home .intro .loadMe {
        display: none;
      }

    .home .intro .overlay_ {
       
        }

      .home .intro .slide_ {
        height: 90vh;
          width: 100%;
      }

/*
      .slide_>* {
          height: 100%;
          width: 100%;
        }
*/
       
      .slide_ .orbit-slide {
        width: 100%;
        }

      .slide_ .orbit-bullets {
/*            margin-top: -13%*/
        }

    .slide_ .logo_text {        
        width: 100%;
        height: 200px;
        max-width: 800px;
        position: relative;
        

    }

    .slide_ .logo_text.black_  {
        border: solid #0e0e0e 3px;
    }

    .slide_ .logo_text.white_  {
/*        border: solid #fff 3px;*/
    }

    .slide_ .logo_text a {
        font-size: 2.5rem !important;
        font-weight: 400;
        color: #fff;
        width: auto;
        height: auto;
        position: relative;
        text-align: center;
        line-height: 1.2;
    }
    
    .slide_ .logo_text.black_ a {
        color: #0e0e0e;
    }

    .slide_ .logo_text.white_ a {
        color: #fff;
    }

    .logo_text {}


    .logo_ {
        position: absolute;
        top: 0;
        left: calc(55% - 150px); 
        text-align: center;
        width: 150px !important;
    }
    
        .scrollDown_ {
            height: 100px;
            width: 100;
}
      .scrollCue {
/*
        position: absolute;
        bottom: 37px;
        left: 50%;
*/
        width: 43px;
        height: 43px;
/*        margin-left: -23px;*/
        border: 2.2px solid #fff;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        text-align: center;
        cursor: pointer;
      }

        .scrollCue span {
/*
          position: absolute;
          top: 15px;
          left: 16px;
*/
          width: 9px;
          height: 9px;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
        }

    
      
    .homeGrid {
      position: relative;
/*      padding-top: 91px;*/
      /*background-color: #f3f3f3;*/
    }

      .homeGrid .grid {
        list-style: none;
        width: 88%;
        margin: auto;
      }

        body.home .gutter-sizer {
          width: 6%;
        }

        /*
		.homeGrid .grid li {
          display: block;
          float: left;
          padding: 30px 2%;
          opacity: 0;
          text-align: center;
        }
		*/

        .grid-item.large { width: 38%; }

        .grid-item.medium { width: 26%; }

        .grid-item.small { width: 23%; }

        @media and (max-width: 769px) {

        }

        .grid li.shown,
		.overview.masonry .grid li.shown,
        .no-js .grid li,
        .no-cssanimations .grid li {
        	opacity: 1;
        }

          .grid li a,
          .grid li img {
          	outline: none;
          	border: none;
          	display: block;
          	width: 100%;
          }

          .homeGrid .grid .caption {
            padding: 10px;
            letter-spacing: .05em;
          }

            .grid .caption h1 {
              font-size: 18px;
              font-weight: 600;
              line-height: 1.2em;
            }

            .grid .caption h2 {
              font-size: 11px;
              font-style: italic;
              font-weight: 300;
              padding-top: 2px;
            }

        /* Effect 1: opacity */
        .grid.effect-1 li.animate {
        	animation: fadeIn 0.65s ease forwards;
          -webkit-animation: fadeIn 0.65s ease forwards;
          -moz-animation: fadeIn 0.65s ease forwards;
          -o-animation: fadeIn 0.65s ease forwards;
        }

        @keyframes fadeIn {
        	0% { }
        	100% { opacity: 1; }
        }

        @-webkit-keyframes fadeIn {
          0% { }
          100% { opacity: 1; }
        }

        @-moz-keyframes fadeIn {
          0% { }
          100% { opacity: 1; }
        }

        @-o-keyframes fadeIn {
          0% { }
          100% { opacity: 1; }
        }




/* ===\\==================//=== *
 * ====\\=== THE GRID - MINE ===//==== *
 * =====\\==============//===== */
#content {
	/*width: 980px;*/
	/*width: 95%;*/
	width: auto;
	margin: 0 auto;
}

.item {
	display: block;
	float: left;
	width: 300px;
	margin: 0 20px 20px 0;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.featured {
	width: 620px;
}

.item img {
	width: 300px;
	height: auto;
    z-index: 100;
}

.featured img {
  width: 620px;
  height: auto;
}

.pic-overlay {
    width: 100%;
    height: 100%;
    background-color:rgba(192,192,192,0.6);
    z-index: 101;

}


/* ===\\==================//=== *
 * ====\\=== THE GRID ===//==== *
 * =====\\==============//===== */

body.masonry {}

    .masonry main {}

      .masonry main .grid {
        list-style: none;
        width: 96%;
        margin: auto;
        padding-top: 50px;
      }

        .grid-sizer, .masonry .grid-item {
          width: 32.2%;
        }

        body.masonry .gutter-sizer {
          width: 1.6%;
        }

        .masonry .grid-item {
          width: 32.2%;
          opacity: 0;
		  text-align: center;
            z-index: 900;
        }

        @media all and (min-width: 1500px) {

          .grid-sizer, .masonry .grid-item {
            /*width: 18.72%;*/
			width: 23.8%;
          }

        }

        @media all and (min-width: 1921px) {

          .grid-sizer, .masonry .grid-item {
            width: 15.33%;
          }

        }

        .overview .grid-sizer, .overview.masonry .grid-item {
          width: 23.8%;
        }

        .overview.masonry .grid-item {
          width: 23.8%;
          opacity: 0;
        }

        @media all and (min-width: 1500px) {

          .overview .grid-sizer, .overview.masonry .grid-item {
            width: 18.72%;
          }

        }

        @media all and (min-width: 1921px) {

          .overview .grid-sizer, .overview.masonry .grid-item {
            width: 15.33%;
          }

        }

          .masonry .grid-item .photo {

          }

		  .masonry .grid-item .videoStorage {
			  display: none;
		  }

          .masonry .grid-item .caption {
            padding: 10px 0px;
			text-align: center;
          }

            .masonry .grid-item h1 {
              font-size: 16px;
              letter-spacing: .04em;
              line-height: 18px;
            }

            .masonry .grid-item h2 {
              font-size: 11px;
              letter-spacing: .06em;
              padding-top: 4px;
              font-weight: 300;
              color: #ADADAD;
            }

			.masonry .grid-item h2 a {
				display: inline;
			}

        p.lbox {
            position: absolute;
            z-index: 2;
            width: 80%;
            padding: 0% 10%;
            opacity: 0;
            left: 0px;
            bottom: 0px;
            height: 38px;
            background-color: rgba(0,0,0,0.4);
            line-height: 1;
            color: #fff;
        }

        .no-touch .grid-item:hover p.lbox,
        .no-touch .cell:hover p.lbox {
          opacity: 1;
		  cursor: pointer;
        }

            p.lbox:before {
                content: '';
                width: 0px;
                height: 100%;
                margin-right: -4px;
                display: inline-block; *display: inline; zoom: 1;
                vertical-align: middle;
            }

            p.lbox span.shape {
                display: inline-block; *display: inline; zoom: 1;
                vertical-align: middle;
                width: 13px;
                height: 13px;
                position: relative;
                margin-right: 9px;
    		}

                p.lbox span.shape:before {
                    content: '';
                    display: block;
                    width: 13px;
                    height: 3px;
                    background-color: #fff;
                    top: 5px;
                    left: 0px;
                    position: absolute;
                }

                p.lbox span.shape:after {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 13px;
                    background-color: #fff;
                    top: 0px;
                    left: 5px;
                    position: absolute;
                }

                .added p.lbox span.shape:after {
                    display: none;
                }

            p.lbox span.text {
                display: inline-block; *display: inline; zoom: 1;
                vertical-align: middle;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: .08em;
            }

            @media all and (max-width: 1350px) {
                .masonry p.lbox span.text {
                    font-size: 13px;
                }
            }

        .masonry .grid-item .overlay {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 1;
          /*background-color: rgba(255,255,255,.30);*/
          opacity: 0;
        }

        .no-touch .masonry .grid-item .overlay:hover,


        .no-touch .masonry .grid-item p.lbox:hover + a .overlay {
          opacity: 1;
        }






/* ===\\=================//=== *
 * ====\\=== TOOLBAR ===//==== *
 * =====\\=============//===== */

    .toolbar {
      height: 44px;
      background-color: rgba(255,255,255,.98);
      top: 91px;
      left: 0px;
      width: 100%;
      position: fixed;
      z-index: 3;
    }
	
	.home .toolbar {
		opacity: 0;
	}

    body.scroll .toolbar {
      height: 21px;
      background-color: transparent;
      top: 61px;
      z-index: 100;
    }

      .toolbar .icon {
        cursor: pointer;
      }

      .toolbar .icon.filter {
        margin-left: 2%;
        margin-left: calc(2% + 3px);
      }

      body.scroll .toolbar .icon.filter {
        display: none;
      }

        .toolbar .icon.filter span {
          width: 1px;
          height: 19px;
          margin-right: 6px;
          position: relative;
          border-left: 1px solid black;
          float: left;
        }

          .toolbar .icon.filter span:before {
            content: '';
            width: 3px;
            height: 3px;
            border: 1px solid #000;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            background-color: #fff;
            position: absolute;
            left: -3px;
          }

          .toolbar .icon.filter span.one:before { top: 7px; }
          .toolbar .icon.filter span.two:before { top: 0px; }
          .toolbar .icon.filter span.three:before { bottom: 0px; }

      .toolbar p {
        padding-left: 5px;
        letter-spacing: .05em;
        font-weight: 600;
        cursor: pointer;
        font-size: 13px;
      }

      body.scroll .toolbar p {
        display: none;
      }

      .toolbar .right {
        height: 100%;
        position: absolute;
        top: 0px;
        right: 2%;
      }
	  
		.lightbox .toolbar .right {
			top: 20px;
		}

        .toolbar .icon.circles {
          width: 19px;
          height: 19px;
          position: relative;
          margin-right: 4px;
		  opacity: .7;
        }

          .toolbar .icon.circles span {
            width: 3px;
            height: 3px;
            border: 1px solid #939393;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            background-color: #fff;
            position: absolute;
          }

          .toolbar .icon.circles span:nth-child(1) { top: 0px; left: 0px; }
          .toolbar .icon.circles span:nth-child(2) { top: 0px; left: 7px; }
          .toolbar .icon.circles span:nth-child(3) { top: 0px; left: 14px; }
          .toolbar .icon.circles span:nth-child(4) { top: 7px; left: 0px; }
          .toolbar .icon.circles span:nth-child(5) { top: 7px; left: 7px; }
          .toolbar .icon.circles span:nth-child(6) { top: 7px; left: 14px; }
          .toolbar .icon.circles span:nth-child(7) { top: 14px; left: 0px; }
          .toolbar .icon.circles span:nth-child(8) { top: 14px; left: 7px; }
          .toolbar .icon.circles span:nth-child(9) { top: 14px; left: 14px; }

          .no-touch .toolbar .icon.circles:hover span,
          .toolbar .icon.circles.active span {
            border: 1px solid #000000;
			opacity: 1;
          }

        .toolbar .icon.squares {
          width: 19px;
          height: 19px;
          position: relative;
          margin-right: 0px;
		  opacity: .7;
        }

          .toolbar .icon.squares span {
            width: 7px;
            height: 17px;
            border: 1px solid #939393;
            background-color: #fff;
            position: absolute;
            top: 0px;
          }

          .toolbar .icon.squares span:first-child { left: 0px; }
          .toolbar .icon.squares span:last-child { left: 10px; }

          .no-touch .toolbar .icon.squares:hover span,
          .toolbar .icon.squares.active span {
            border: 1px solid #000000;
			opacity: 1;
          }
		  
		  .toolbar .icon.slideview img {
			  width: 19px;
			  position: relative;
			  top: 2px;
			  right: 9px;
			  opacity: .2;
		  }
		  
		  .toolbar .icon.slideview img:hover {
			  opacity: 1;
		  }





/* ===\\==========================//=== *
 * ====\\=== OVERLAYS: FILTER ===//==== *
 * =====\\======================//===== */

  .filter.popup, .video.popup, .pdf_select, .pdf_link {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.85);
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: -100;
    opacity: 0;
	text-align: center;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    -webkit-transition-property: opacity, z-index;
    -webkit-transition-duration: .4s, 0s;
    -webkit-transition-delay: 0s, .4s;
    -moz-transition-property: opacity, z-index;
    -moz-transition-duration: .4s, 0s;
    -moz-transition-delay: 0s, .4s;
    -o-transition-property: opacity, z-index;
    -o-transition-duration: .4s, 0s;
    -o-transition-delay: 0s, .4s;
  }

  .popup.video {
	  text-align: center;
  }

  body.filterOpen .filter.popup {
    z-index: 100;
    opacity: 1;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, 0s;
    -webkit-transition-property: opacity, z-index;
    -webkit-transition-duration: .4s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-property: opacity, z-index;
    -moz-transition-duration: .4s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-property: opacity, z-index;
    -o-transition-duration: .4s, 0s;
    -o-transition-delay: 0s, 0s;
  }

  body.videoOpen .video.popup {
    z-index: 100;
    opacity: 1;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, 0s;
    -webkit-transition-property: opacity, z-index;
    -webkit-transition-duration: .4s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-property: opacity, z-index;
    -moz-transition-duration: .4s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-property: opacity, z-index;
    -o-transition-duration: .4s, 0s;
    -o-transition-delay: 0s, 0s;
  }

   body.pdfOpen .pdf_select.popup {
    z-index: 100;
    opacity: 1;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, 0s;
    -webkit-transition-property: opacity, z-index;
    -webkit-transition-duration: .4s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-property: opacity, z-index;
    -moz-transition-duration: .4s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-property: opacity, z-index;
    -o-transition-duration: .4s, 0s;
    -o-transition-delay: 0s, 0s;
  }

    .pdf_select article, .pdf_link article {
      position: relative;
      z-index: 3;
      color: #000;
      background-color: #fff;
      padding: 40px 14px 21px 14px;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,.12);
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.12);
      -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.12);
    }

      .pdf_select article img.closeLB, .pdfOverlay article img.closeLB {
        display: block;
        width: 14px;
        height: auto;
        position: absolute;
        top: 11px;
        right: 12px;
        cursor: pointer;
      }

      .pdf_select article h1, .pdfOverlay article h1 {
        font-weight: 600;
        letter-spacing: .08em;
        font-size: 190%;
        padding-bottom: 13px;
        line-height: 1em;
      }

      .pdf_select article p, .pdfOverlay article p {
        font-size: 120%;
        font-weight: 100;
        letter-spacing: .06em;
        color: #313131;
      }

	  .pdfOverlay .linkHolder {
		  padding: 50px;
		  font-size: 175%;
		  line-height: 200%;
	  }

		.pdfOverlay .linkHolder span {
			font-size: 80%;
			color: #00b0c2;
		}

      .pdf_select article ul {
        list-style-type: none;
        padding: 30px 0px 25px;
      }

        .pdf_select article ul li {
          border: 1px solid #cecece;
          background-color: #ffffff;
          cursor: pointer;
          margin-right: -2px;
          padding: 24px 9px;

          transition-property: border, background-color;
          transition-duration: 200ms;
          -webkit-transition-property: border, background-color;
          -webkit-transition-duration: 200ms;
          -moz-transition-property: border, background-color;
          -moz-transition-duration: 200ms;
          -o-transition-property: border, background-color;
          -o-transition-duration: 200ms;
        }

        .no-touch .pdf_select article ul li:hover {
          border: 1px solid #eeeeee;
          background-color: #EFEFEF;
        }

        .pdf_select article ul li.selected {
          border: 1px solid #eeeeee;
          background-color: #DADADA !important;
        }

          .pdf_select article ul li img {
            display: block;
            border: 1px solid #e0e0e0;
            width: 170px;
            height: auto;

            transition-property: border, background-color;
            transition-duration: 200ms;
            -webkit-transition-property: border, background-color;
            -webkit-transition-duration: 200ms;
            -moz-transition-property: border, background-color;
            -moz-transition-duration: 200ms;
            -o-transition-property: border, background-color;
            -o-transition-duration: 200ms;
          }

          .no-touch .pdf_select article ul li:hover img,
          .pdf_select article ul li.selected img {
            border: 1px solid #909090;
          }

          .pdf_select article ul li h2 {
            text-align: left;
            font-weight: 100;
            font-size: 120%;
            letter-spacing: .08em;
            padding: 8px 0px 0px 1px;
          }

      .pdf_select article a.downloadPDF {
        background-color: #000;
        color: #fff;
        font-weight: 100;
        font-size: 170%;
        letter-spacing: .1em;
        padding: 15px 59px;
        line-height: 1em;
        display: inline-block; *display: inline; zoom: 1;
      }

    .pdf_select .closeBG {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }


	body.linkOpen .pdf_link.popup {
		z-index: 100;
		opacity: 1;

		transition-property: opacity, z-index;
		transition-duration: .4s, 0s;
		transition-delay: 0s, 0s;
		-webkit-transition-property: opacity, z-index;
		-webkit-transition-duration: .4s, 0s;
		-webkit-transition-delay: 0s, 0s;
		-moz-transition-property: opacity, z-index;
		-moz-transition-duration: .4s, 0s;
		-moz-transition-delay: 0s, 0s;
		-o-transition-property: opacity, z-index;
		-o-transition-duration: .4s, 0s;
		-o-transition-delay: 0s, 0s;
	}

    .popup .icon.closeLB {
      position: absolute;
      top: 30px;
      right: 2%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 2;
    }

      .popup .icon.closeLB span {
        width: 4px;
        height: 29px;
        position: absolute;
        background-color: #fff;
        top: 0px;
        right: 12px;
      }

      .popup .icon.closeLB span:first-child {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }

      .popup .icon.closeLB span:last-child {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }

    .popup .bigClose {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 1;
    }

	.popup img.popLogo {
      position: absolute;
      margin: 0px 26px;
      display: block;
      width: 287px;
      height: auto;
      z-index: 3;
      opacity: 0;
	  display: none !important;
    }

    .popup nav.filter {
      text-align: center;
      width: 80%;
      margin: 0px 10% 0px;
      position: relative;
      z-index: 3;
    }

      .filter.popup nav.filter ul {
        list-style: none;
      }

        .filter.popup nav.filter ul .filterCol {
          display: inline-block; *display: inline; zoom: 1;
          vertical-align: top;
          width: 43%;
          padding: 0% 3%;
        }

        .filter.popup nav.filter ul .filterCol:first-child {
          text-align: right;
        }

        .filter.popup nav.filter ul .filterCol:last-child {
          text-align: left;
        }

          .filter.popup nav.filter ul li {
            font-size: 80px;
            font-weight: 700;
            letter-spacing: .02em;
            line-height: 1.1em;
          }

	.video.popup nav  {
		width: 50% !important;
		margin: auto !important;
	}

	.video.popup nav iframe {
		width: 100%;
	}


	  .popup .linkHolder {
		  padding: 50px;
		  font-size: 175%;
		  line-height: 200%;
	  }

		.popup .linkHolder span {
			font-size: 80%;
			color: #787878;
		}

		.pdf_link .closeLB {
			position: absolute;
			right: 20px;
			top: 19px;
			width: 14px;
			cursor: pointer;
		}



/* ===\\===========================//=== *
 * ====\\=== HORIZONTAL SCROLL ===//==== *
 * =====\\=======================//===== */

  body.scroll main {
      position: relative;
      min-height: 100%;
      margin-bottom: 0px;
  }

    body.scroll main:after {
        display: none;
    }

    .scroll .close {
      width: 20px;
      height: 20px;
      position: fixed;
      z-index: 101;
      top: 15px;
      right: 2%;
      cursor: pointer;
    }

      .scroll .close span {
        position: absolute;
        top: -3px;
        right: 9px;
        width: 2px;
        height: 27px;
        background-color: #000;
        display: block;
      }

      .scroll .close span:first-child {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
      }

      .scroll .close span:last-child {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
      }

	.scroll .scrollMe {
      padding: 130px 2% 0px;
    }

        .scroll .scrollMe .cell {
        }

        .scroll .scrollMe .cell .theHolder {
            position: relative;
        }

	  .scroll .scrollMe .cell.textEntry .inner {
		  width: 350px;
		  margin-right: 25px;
	  }

		.scroll .scrollMe .cell.textEntry .inner h1 {
			font-size: 16px;
				letter-spacing: .04em;
				line-height: 18px;
		}

		.scroll .scrollMe .cell.textEntry .inner h2 {
    font-size: 11px;
    letter-spacing: .06em;
    padding-top: 4px;
    font-weight: 300;
    color: #ADADAD;
	font-style: italic;
		}

	   .scroll .scrollMe .cell.textEntry .inner p {
		   margin-top: 15px;
		   line-height: 150%;
	   }


        .scroll .scrollMe .cell img.photo, .scroll .scrollMe .cell iframe, .scroll .scrollMe .cell video {
          display: block;
          width: auto;
          margin-right: 8px;
        }

        .scroll .scrollMe .cell:last-child img.photo {
            margin-right: 0px;
        }

		.scroll .info {
			display: inline-block;
			*display: inline;
			zoom: 1;
			width: 100%;
			min-height: 13px;
			position: relative;
		}

		.scroll .info .caption {
		  position: relative;
		  float: left;
		  color: #9c9c9c;
		  font-size: 12px;
		  letter-spacing: .05em;
		  line-height: 13px;
		  margin: 8px 8px 0px 1px;
		  width: 70%;
		}

		.scroll p.lbox,
		.scroll p.lbox_scroll {
            position: absolute;
            bottom: 0px;
            left: 0px;
            cursor: pointer;
            text-align: left;
            width: auto;
            padding: 0px 30px 0px 25px;
		}

  p.lbox span.box {
    width: 8px;
    height: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 9px;
    position: relative;
    top: 1px;
    background-image: none;
    background-position: 0px 0px;
    background-size: 8px auto;
    background-repeat: no-repeat;
  }

  p.lbox_scroll span.box {
    width: 10px;
    height: 10px;
    margin-left: 9px;
    position: relative;
    top: 1px;
    background-image: none;
    background-position: 0px 0px;
    background-size: 10px auto;
    background-repeat: no-repeat;
  }

  .added p.lbox span.box,
  .added p.lbox_scroll span.box {
    background-image: url('../../ericryananderson.imgix.net/added.png');
  }


/* ===\\===================//=== *
 * ====\\=== SLIDESHOW PAGE ===//==== *
 * =====\\===============//===== */

body.slideshow {
	overflow-y: hidden;
}

body.slideshow .arrows {
	position: absolute;
	top: 50%;
	left: 2%;
	z-index: 300;
	margin-top: -40px;
	width: 21px;
}

	body.slideshow .arrows .left {
		width: 21px;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 4px;
	}
	
	body.slideshow .arrows .right {
		width: 21px;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 4px;
	}
	
	body.slideshow .arrows .add {
		width: 21px;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 4px;
	}
	
	body.slideshow .arrows .info {
		width: 21px;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 4px;
		opacity: 0;
	}
	
	body.slideshow .arrows .lbox {
		width: 21px;
		cursor: pointer;
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 4px;
	}	
 
.slideshow .cycle-slideshow {
	top: 130px;
	margin: auto;
}
 
	.slideshow .cycle-slideshow .slide {
		width: 100%;
		height: 100%;
		text-align: center;
		margin: auto;
	}
	
	.slideshow .cycle-slideshow .slide img.photo {
		height: 100%;
		width: auto;
	}
	
	.slideshow .cycle-slideshow .slide .caption {
		padding-top: 5px;
		opacity: 0;
	}


/* ===\\===================//=== *
 * ====\\=== INFO PAGE ===//==== *
 * =====\\===============//===== */

body.info {}

  .info main {}

    .info main section {
      padding-top: 150px;
      padding-bottom: 90px;
    }

      .info main section p {
        color: #B7B7B7;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: .05em;
        line-height: 1.6;
        padding-bottom: 1em;
      }

      .info main section ul,
      .info main section ol {
        color: #B7B7B7;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: .03em;
        line-height: 1.6;
        padding-bottom: 1em;
        margin-left: 20px;
      }

        .info main section p a {
          color: #000;
          font-weight: 300;
        }

      .info main section h1,
      .info main section h2,
      .info main section h3,
      .info main section h4,
      .info main section h5,
      .info main section h6 {
        font-size: 19px;
        color: #000;
        font-weight: 300;
        line-height: 1.6;
        padding-bottom: 1.5em;
        letter-spacing: .06em;
      }

      .info .col1 {
        width: 50%;
        margin-left: 4%;
      }

        .bioPic {
          width: 35%;
          height: auto;
          margin-right: 5%;
        }

        .info .col1 .inner {
          width: 60%;
        }


      .info .col2 {
        width: 31%;
        margin-left: 5%;
      }

        .info main section .col2 p {
          width: 80%;
          padding-top: 45px;
        }

          .info main section .col2 p a {
            font-weight: 300;
          }

        .clientList {
          border-top: 1px solid #d7d7d7;
          border-bottom: 1px solid #d7d7d7;
          padding: 23px 5% 11px 0px;
        }

          .info main section .col2 .clientList p {
            padding-top: 0px;
            width: 100%;
          }



@media all and (max-width: 1299px) {

  .info main section h1,
  .info main section h2,
  .info main section h3,
  .info main section h4,
  .info main section h5,
  .info main section h6 {
    font-size: 17px;
  }

}

@media all and (max-width: 1199px) {

  .info .col1,
  .info .col2 {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: 0px auto 30px;
  }

}








/* ===\\================//=== *
 * ====\\=== FOOTER ===//==== *
 * =====\\============//===== */

footer {
  background-color: #000;
  color: #fff;
    z-index: 999;
    bottom: 0;
}

  footer .inner {
    position: relative;
    width: 100%;
    height: 180px;
  }

    footer p {
      color: #fff;
    }

      .no-touch footer p a:hover {
        color: #cbcbcb;
      }

    footer ul {
      position: absolute;
      top: 35px;
      left: 2%;
      list-style-type: none;
      text-align: left;
    }

      footer ul li {
        margin-right: 16px !important;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .05em;
      }

    footer p {
/*
      position: absolute;
      top: 35px;
      right: 2%;
*/
      font-weight: 500;
      letter-spacing: .05em;
      font-size: .8rem;
      color: #969696;
    }

      footer a {
        color: #fff;
      }

    footer .cont_ {
        width: 100%;
        height: 100%;
    }
    footer .cont_ .ttl_ {
        font-weight: bold;
        font-size: .9rem;

    }

    footer .cont_ .copy_ {
        margin-top: 20px;

    }

/* ===\\================//=== *
 * ====\\=== LIGHTBOX PAGE ===//==== *
 * =====\\============//===== */

ul.lbTools {
    list-style-type: none;
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
	margin-right: -18px;
	width: 300px;
}

      .lbTools * {
        display: inline-block; *display: inline; zoom: 1;
        vertical-align: middle;
      }

      .lbTools li {
        cursor: pointer;
      }

        .lbTools img {
          height: auto;
        }

        .lbTools .lb_download img { width: 9px; }
        .lbTools .lb_link img { width: 12px; }
        .lbTools .lb_clear img { width: 10px; }

        .lbTools span {
          color: #B1B1B1;
          font-weight: 100;
          margin: 0px 18px 0px 5px;
          letter-spacing: .05em;

          transition: color, .2s;
          -webkit-transition: color, .2s;
          -moz-transition: color, .2s;
          -o-transition: color, .2s;
        }

        .no-touch .lbTools li:hover span {
          color: #444444;

          transition: color, .2s;
          -webkit-transition: color, .2s;
          -moz-transition: color, .2s;
          -o-transition: color, .2s;
        }
