
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    -webkit-backface-visibility: hidden;
}

html {
    height: auto;
    width: 100%;
    color: #0e0e0e;
}

body {
    height: auto !important;
    width: 100%;
/*    font-family: "proxima-nova", sans-serif;*/
    font-size: 12px;
    font-weight: 300;
    background-color: #fff;
    font-family: 'Dosis', sans-serif !important;
}

.btn_ .button {
    padding: 15px 40px;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif !important;
    background-color: #0e0e0e;
    color: #fff;
/*  border: .5px solid #fff;  */
}

.btn_ .button:hover {
    border: .5px solid #0e0e0e;
    background-color: #fff;
    color: #0e0e0e;

}

.wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading a {
	opacity: 0;
}

.wf-active p, .wf-active h1, .wf-active h2, .wf-active a {
	opacity: 1;
}

.mobileOnly {
    display: none !important;
}

.white_ {
    color: #fff !important;
}

.black_ {
    color: #0e0e0e !important;
}

#whole, #p_one {
    height: auto;
    min-height: 100vh;

}

#p_one {


}


/* ===\\================================//=== *
 * ====\\=== MAIN CONTENT CONTAINER ===//==== *
 * =====\\============================//===== */

    main {
        position: relative;
        min-height: 100vh;
        height: auto;
/*        margin-bottom: -180px;*/
    }

        main:after {
            content: '';
            display: block;
/*            height: 180px;*/
        }



 /* ===\\===========================//=== *
  * ====\\=== LANDING/HOME PAGE ===//==== *
  * =====\\=======================//===== */

body.home {}

  .home .homeLoad {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
/*    height: 100%;*/
/*    background-color: rgba(255,255,255,1);*/
    opacity: 1;
  }

  .home.done .homeLoad {
    z-index: -1;
    opacity: 0;

    transition-property: opacity, z-index;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }

  .home main {
/*      background-color:cadetblue;*/
}

    .home main .intro {
      height: 819px;
      min-height: 100vh;
      text-align: center;
      position: relative;
    }

      .home .intro .logo {
        width: 430px;
        height: auto;
		cursor: pointer;
      }

      .home .intro .loadMe {
        display: none;
      }

    .home .intro .overlay_ {

        }

      .home .intro .slide_ {
        height: 90vh;
          width: 100%;
      }

/*
      .slide_>* {
          height: 100%;
          width: 100%;
        }
*/

      .slide_ .orbit-slide {
        width: 100%;
        }

      .slide_ .orbit-bullets {
/*            margin-top: -13%*/
          display: none;
        }

    .slide_ .logo_text {
        width: 100%;
        height: 200px;
        max-width: 800px;
        position: relative;


    }

    .slide_ .logo_text.black_  {
        border: solid #0e0e0e 3px;
    }

    .slide_ .logo_text.white_  {
/*        border: solid #fff 3px;*/
    }

    .slide_ .logo_text a {
        font-size: 2.5rem !important;
        font-weight: 400;
        color: #fff;
        width: auto;
        height: auto;
        position: relative;
        text-align: center;
        line-height: 1.2;
    }

    .slide_ .logo_text.black_ a {
        color: #0e0e0e;
    }

    .slide_ .logo_text.white_ a {
        color: #fff;
    }

    .logo_text {}


    .logo_ {
        position: absolute;
        top: 0;
        left: calc(55% - 150px);
        text-align: center;
        width: 150px !important;
    }


    /*Scroll Buttons */
    .scrollDown_ {
        height: 100px;
        width: 100;
    }
          .scrollCue {
    /*
            position: absolute;
            bottom: 37px;
            left: 50%;
    */
            width: 43px;
            height: 43px;
    /*        margin-left: -23px;*/
            border: 2.2px solid #fff;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            text-align: center;
            cursor: pointer;
          }

            .scrollCue span {
    /*
              position: absolute;
              top: 15px;
              left: 16px;
    */
              width: 9px;
              height: 9px;
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
            }

    .Up_ {
        position: fixed;
        width: 100px;
        height: auto;
        bottom: 10px;
        right: 10px;
        z-index: 999;
    }
        .upText_ {
            font-size: .7rem;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
        }

        .scrollUp_ {

        }

            .scrollUp_ {

                border: 2.2px solid #fff;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                text-align: center;
                cursor: pointer;
              }

                .scrollUp_ span {
                  width: 9px;
                  height: 9px;
                  border-bottom: 0px solid #000;
                  border-right: 0px solid #000;
                  border-top: 2px solid #fff;
                  border-left: 2px solid #fff;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                }


.seq-content .btn_ {
    margin-top: 50px !important;
}



/* ===\\================//=== *
 * ====\\=== HEADER ===//==== *
 * =====\\============//===== */
.homeHeader {
        z-index: 999;
        height: 150px;
    }

    .homeHeader .logoTitle {
        font-size: 2rem !important;
        font-weight: 500;
        position: relative;
        text-align: center;
        line-height: 1.2;
        margin: 20px 0px !important;
        width: 430px;
    }

          .logoTitle.white_ {
            color: #fff;
            border: #fff solid 3px;
            font-size: 3rem !important;
            font-weight: 400;
            width: 530px !important;
            margin: 20px 0px 10px 0px !important;
            }

        .logoTitle.black_ {
            color: #0e0e0e;
            border: #0e0e0e solid 2px;
          }

    .homeHeader #header {
        height: 60px;
        width: auto;
    }

        .homeHeader #header .head_{
            height: 60px;
/*            width: 190px;*/
        }

        #header .head_ .tabs_ {
        position: relative;

        }

        #header .head_ .tabs_ a {
            margin: 0 auto;
            padding: 10px 25px;
            font-size: 1rem;
            line-height: 1.2;
/*            letter-spacing: -.1rem;*/
            font-weight: 500;
            color: #0e0e0e;
        }

        #header .head_ .tabs_ a.select_ {
            border: solid .5px #0e0e0e;
            background: #fff;
            color: #0e0e0e;
        }


/* ===\\================//=== *
 * ====\\=== SERVICES ===//==== *
 * =====\\============//===== */
#whole, #p_one.serv {
    height: 100vh !important;
    min-height: 100vh;

}

.serv_ #services {
    min-height: calc(100vh - 150px)!important;

}

    #services .container {
        width: 100%;
        height: 80%;
    }

/* ===\\================//=== *
 * ====\\=== GALLERY ===//==== *
 * =====\\============//===== */
#gallery {
    min-height: calc(100vh - 150px)
}

/*TOOLBAR*/
.toolbar {
    position: fixed;
    right: 10px;
    top: 50px;
}
/*MASONRY*/
#content {
	/*width: 980px;*/
	/*width: 95%;*/
	width: auto;
	margin: 0 auto;
/*    display: none;*/

}

#masonry {
/*	width: 980px;*/
/*	width: 95%;*/
    width: auto;
	margin: 0 auto;
    display: none;

}

.item {
	display: block;
	float: left;
	width: 300px;
	margin: 0 20px 20px 0;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}


    .item img {
        width: 300px;
        height: auto;
    }

    .item .pic-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0);
        z-index: -20;

    }

/* ===\\================//=== *
 * ====\\=== CONTACT ===//==== *
 * =====\\============//===== */
#contact {}

    #contact #banner_ {
        height: 250px;
        width: 100%;
/*        background-image: url(/images/img/contact2.jpg);*/
}

    #contact #about {
        width: 80%;
        min-width: 500px;
        max-width: 700px;
        min-height: calc(100vh - 200px);
    }

        #about .container {
            width: 80%;
            max-width: 600px;
            height: auto;
            min-height: 500px;
/*            margin: 20px;*/
        }

        #about .container .why_ {
            height: auto;
            margin: 20px 0px 40px 0px !important;
        }

        #about .container h2 {
        /*  margin: 0px 0px 40px 0px;*/
          padding 10px;
          line-height: 160%;
          font-size: 1.625em;
          font-weight: 700;
          text-transform: uppercase;

        }



        #about .container .talk_ {
            height: 250px;
            margin-top: 20px !important;
            width: 80%;
            border: #555 solid .2px;
        }

            .talk_ .inner {
                color: #0e0e0e;
                height: auto !important;
            }

            .talk_ .inner .btn_ {
            margin: 10px 0px;
            width: 100%;
            }


/* Modal*/
#contactFormModal {
    padding: 50px;
    height: 600px;
    width: 700px;
}

#contactFormModal .contain_ {
    width: 500px;
    height: auto;

}

    .contain_ .logo>* {
        margin: 10px 0px 20px 0px;
        padding: 3px 50px;
        font-weight: 600;
        font-size: 1.2rem
}
    .contain_ form {
        height: 100%;
        margin: 10px;
        width: 100%;

    }

        form .form-ttl {
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 20px !important;
        }

        form .form-cntnt {
            height: auto;
/*            border: .5px #555 solid;*/

        }

        form .form-cntnt input {
/*            border: 1px solid #cacaca;*/
            border: #cacaca solid .25px;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 2.3rem;
            padding: .5rem;

            margin: 0 0 1rem;
            font-family: inherit;
            font-size: 1rem;
            color: #0a0a0a;
            background-color: #fefefe;
            box-shadow: inset 0 0px 0px hsla(0,0%,4%,.1);
            border-radius: 0;
            -webkit-transition: -webkit-box-shadow .5s,border-color .25s ease-in-out;
            transition: box-shadow .5s,border-color .25s ease-in-out;
            -webkit-appearance: none
        }

        input[type=textarea] {
            height: 9rem !important;
            text-align: ;
/*            overflow-y: scroll;*/
        }

/*        input[placeholder], [placeholder], *[placeholder]{}*/
            input[type=textarea][placeholder]{
                text-align: top;
}

        input[type=submit] {
            padding: .5rem !important;
            margin-top: 20px !important;

        }

/* ===\\================//=== *
 * ====\\=== INSTAGRAM ===//==== *
 * =====\\============//===== */
#instagram {
    height: auto;
    min-height: calc(100vh - 150px);
}



/* ===\\================//=== *
 * ====\\=== FOOTER ===//==== *
 * =====\\============//===== */

footer {
  background-color: #000;
  color: #fff;
    z-index: 990;
    bottom: 0;
}

  footer .inner {
    position: relative;
    width: 100%;
    height: 180px;
  }

    footer p {
      color: #fff;
    }

      .no-touch footer p a:hover {
        color: #cbcbcb;
      }

    footer ul {
      position: absolute;
      top: 35px;
      left: 2%;
      list-style-type: none;
      text-align: left;
    }

      footer ul li {
        margin-right: 16px !important;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .05em;
      }

    footer p {
/*
      position: absolute;
      top: 35px;
      right: 2%;
*/
      font-weight: 500;
      letter-spacing: .05em;
      font-size: .8rem;
      color: #969696;
    }

      footer a {
        color: #fff;
      }

    footer .cont_ {
        width: 100%;
        height: 100%;
    }
    footer .cont_ .ttl_ {
        font-weight: bold;
        font-size: .9rem;

    }

    footer .cont_ .copy_ {
        margin-top: 20px;

    }
